@import "@/styles/variables";

.blog-post ::v-deep  {
    h1 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    p, li {
        font-size: 18px;
        opacity: .9;
        color: var(--v-divergent-9-base);;
    }

    p {
        line-height: 1.65;
    }

    blockquote {
        border-left-width: .25rem;
        border-left: 4px solid var(--v-divergent-9-base);
        margin-bottom: 1.6em;
        line-height: 1.5em;
        padding: .6em 1.2em;
        opacity: .75;

        p {
            margin-bottom: 0;

        }
    }

    a {
        color: var(--v-divergent-11-base);
        font-weight: 500;
        text-decoration: none;
        border-bottom: 1px solid var(--v-divergent-1-base);
        transition: border .3s ease-in-out;


        &:hover {
            border-bottom: 1px solid var(--v-divergent-11-base);
        }
    }

    img {
        max-width: $max-content-width;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto 0 auto;
    }

    iframe {
        width: $max-content-width;
        height: 400px;
    }

}