@import "@/styles/variables";

:root {
    background: var(--v-primary-base);
    scrollbar-color: var(--v-divergent-1) var(--v-primary-base);
    scrollbar-width: thin;
    margin: 0 25px 0 25px
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--v-primary-base);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--v-divergent-2-base);
    opacity: 0;

    /* Handle on hover */
    &:hover {
        background: var(--v-divergent-3-base);
    }
}

.content  {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: $max-content-width;
}